.all-tweets {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.all-tweets article {
  border-style: solid;
  border-width: thick;
  padding: 1em;
  margin-bottom: 20px;
}

.all-tweets article.tweet:hover {
  box-shadow: 5px 5px 1px 2px rgba(64, 86, 161, 0.4);
}

.all-tweets div.tweet-header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.all-tweets div.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.all-tweets h4.user-name {
  padding: 0.5em;
  font-weight: 300;
}

.all-tweets div.tweet-text {
  font-weight: 600;
}

.all-tweets footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-style: none;
  border-top-style: solid;
  border-width: thick;
}

.all-tweets div.tweet-response {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  color: #4056a1;
}

.all-tweets i:hover {
  color: gold;
}

.all-tweets span.tweet-date {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 75%;
}

.all-tweets i.fa-retweet {
  padding: 0.5em;
}
