nav {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

/* Contents */
span {
  display: flex;
  align-self: center;
  padding: 1.5rem;
}

.logo {
  display: flex;
  align-self: center;
  font-size: 120%;
  font-family: "Bungee", cursive;
}

.write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

/* Text */
p {
  display: flex;
  align-self: center;
  font-size: 1rem;
}
