.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5em;
}

.new-text form {
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  display: flex;
  flex-direction: column;
  height: 65px;
  width: 100%;
  outline: none;
  border-style: none;
  border-bottom-style: solid;
  border-width: thick;
  color: #545149;
  background-color: #f4f1ec;
  resize: none;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-family: "Bungee", cursive;
}

.new-tweet button {
  display: flex;
  color: #ffffff;
  background-color: #4056a1;
  border: none;
}

.new-tweet output {
  display: flex;
}

.exceedCharLimit {
  color: red;
}
