.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
}

.new-tweet h2 {
  margin-block: 0.5rem;
  font-size: 2rem;
}

.new-tweet span {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  color: red;
  padding: 5px;
  border-style: solid;
  margin-bottom: 0.5em;
}

.new-tweet i {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet textarea {
  display: flex;
  flex-direction: column;
  height: 35px;
  width: 100%;
  outline: none;
  border-style: none;
  border-bottom-style: solid;
  border-width: thick;
  color: #545149;
  background-color: #f4f1ec;
  resize: none;
  font-size: 75%;
  font-weight: 600;
  margin-top: 5px;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-family: "Bungee", cursive;
}

.new-tweet button {
  display: flex;
  color: #ffffff;
  background-color: #4056a1;
  border-color: #4056a1;
  border-style: double;
}

button:hover {
  border-color: #545149;
}

.new-tweet output {
  display: flex;
}

.exceedCharLimit {
  color: red;
}
